{% extends "layout.html" %}

{% block script %}


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script>

$(document).ready(function() {

	$('#list').click(function(event) {
		window.location = '/chooser/' + event.target.id;
	 });
})

</script>

{% endblock %}


{% block body %}

<h2><a href="/">Search</a> > <a href="/artist/{{ artist }}">{{ artist }}</a> > {{ album }}</h2>

<ol id='list'>
  {% for song in songs %}
    <li id='{{ song.id }}'>{{ song.title }}</li>
  {% endfor %}
</ol>

{% endblock %}
